body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  src: url("Pangolin-Regular.ttf");
  font-family: pangolin;
}

@font-face {
  src: url("Acme-Regular.ttf");
  font-family: acme;
}

@keyframes about {
  0% {
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}
